
.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: white;
}


/* This is a heading comment */

h1 {
  color: black;
  margin-left: 20px;
}

div {
  height: 200px;
  width: 50%;
  background-color: powderblue;
}